
 #before_navbar{
    width: 100%;
    height: 40px;
    background-color: rgb(242,242,242);
}
#navbar{
    width: 100%;
    height: 200px;
    border: 0px solid red;
    margin: auto;
    background-color: white;
    

}
#navbar > div{
    width: 100%;
    height: 90px;
    border: 0px solid rgb(47, 0, 255);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbar :nth-child(1) > :nth-child(1){
   font-size: 40px;
 }
  #navbar :nth-child(1) > :nth-child(2) input{
   font-size: 30px;
} 
#navbar :nth-child(2) > div {
    border: 0px solid red;
    width: auto;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
#navbar a{
    color: black;
   text-decoration: none;
}
#upper_strip_banner{
    width: 100%;
    height: 50px;
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(242,242,242);          
}
#lower_strip_banner{
    width: 100%;
    height: 50px;
    border: 0px solid rgb(68, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;          
    background-color:rgb(204,204,204);
}
/* slideshow container */
*{box-sizing: border-box;}

#slideshow_container{
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
}
#slideshow_container img{
    width: 100%;
    
}
/* Next and Previous Buttons */
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #bbb;

    transition: 0.6s ease;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
#Dot_div{
    text-align: center;
}
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}
@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

/* Main event */
#mainEvent{
    margin-top: 20px;
}
#mainEvent img{
    /* margin-top: 20px; */
   width: 100%;        
}
#shopByCategory{
    width: 100%;
    height: auto;
}
#shopByCategory p{
    text-align: center;
    font-size: 30px;
}
#shopByCategory > div:nth-child(2){
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#shopByCategory img{
    width: 100%;
}

/* cards */
#card{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
#card > div{
    width: 30%;
    height: auto;
    text-align: center;          
}
.Cards img{
  width: 100%;
}
.Cards > img + p{
    font-size: 20px;
}
#brands{
    width: 100%;
    height: auto;
}
#brands p{
    text-align: center;
    font-size: 30px;
}
#brands > div:nth-child(2){
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#brands >div >div{          
    width: 15%;
}
#brands img{
    width: 100%;
}
#Bestsellers{
    width: 100%;
    height: auto;
    margin: auto;
/* display: none; */
    position: relative;
}
#Bestsellers #heading > p{
  font-size: 30px;
  text-align: center;
}
#Bestsellers #bestSellerDivs{
    width: auto;
    height: auto;
    display: flex;flex-direction: row;
    /* margin: auto; */
    border: 0px solid red;

}
#Bestsellers #bestSellerDivs >div{
    width: 100%;
    height: auto;
    border: 0px solid rgb(89, 0, 255);
  
    text-align: center;
    padding: 20px;
}
#Bestsellers #bestSellerDivs >div >img{
    width: 80%;
}
#Bestsellers #bestSellerDivs >div>div{
    width: 70%;
    height: auto;
    border: 1px solid black;
    margin: auto;
}
#Bestsellers #bestSellerDivs >div> button{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
}

/* 2nd slider */
.container{
 width: 100%;
 height: auto;
 border: 0px solid red;
 margin-top: 20px;
}
.container #text{
border: 0px solid red;

}
.container #text > p:nth-child(1){
text-align: center;
 font-size: 25px;
margin-bottom: 0px;
}
.container #text > p:nth-child(2){
text-align: center;
}
#childContainer {
width: 100%;
height: auto;
border: 0px solid rgb(20, 197, 123);
display: flex;
margin: auto;
}
#childContainer >div:nth-child(1) {
width: 40%;
height: auto;
border: 0px solid blue;
/* margin: auto; */
}
#childContainer >div:nth-child(1) img {
width: 90%;
}
#childContainer >div:nth-child(2) {
width: 60%;
height: auto;
border: 0px solid blue;
margin: auto;
}
.child_Slider_2{
  width: 40%;
  height: auto;
  margin: auto;
  border: 0px solid red;
  text-align: center;
  padding: 10px 10px 0px 10px ;
}
.child_Slider_2 img{
width: 100%;
}
.child_Slider_2 button{
width: 100%;
height: 40px;
background-color: black;
color: white;

}
/* // 2nd slider css */
.slider_2{
width: 100%;
position: relative;
margin :auto;
}

.Dot{
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease ;
text-align:end;
}

.active, .Dot:hover{ 
background-color: #717171;
}
@keyframes fade {
from{opacity:0.4}
to {opacity: 1;}
} 